/*-- scss:defaults --*/

$mainColor: #231522;
$headingColor: #3853A3;
$backgroundColor: #FFFFFF;
$linkColor: #3853A3;
$linkColorHover: #EA1F26;
$mainFont: "Montserrat", sans-serif;
$headingFont: "Montserrat", sans-serif;
$headingFontWeight: 700;
$headingTextTransform: none;

/*-- scss:rules --*/
